body {
  color: rgb(0,0,0);
  font-family: "Montserrat";
}

.title-slide hgroup h1 {
  color: #943126;
  font-family: "Montserrat";
}

h1 {
  color: #943126;
  font-family: "Montserrat";
}

h2 {
  color: #943126;
  font-family: "Montserrat";
}

h3 {
  color: #943126;
  font-family: "Montserrat";
}

h4 {
  color: #943126;
  font-family: "Montserrat";
}