body {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "Source Sans Pro";
}

h1 {
  color: #943126;
  font-size: 40px;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  color: #943126;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  color: #943126;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 500;
}

h4 {
  color: #943126;
  font-size: 18px;
  font-family: 'Montserrat';
}

.irs-bar {
height: 8px;
top: 25px;
border-top: 1px solid #943126;
border-bottom: 1px solid #943126;
background: #943126;
}

.irs-bar-edge {
height: 8px;
top: 25px;
width: 14px;
border: 1px solid #943126;
border-right: 0;
background: #943126;
border-radius: 16px 0 0 16px;
}

.btn-primary {
color: #fff;
background-color: #943126;
border-color: #943126;
}

.irs-from, .irs-to, .irs-single {
color: #fff;
font-size: 11px;
line-height: 1.333;
text-shadow: none;
padding: 1px 3px;
background: #943126;
border-radius: 3px;
Unknown property name.-moz-border-radius: 3px;
}